<!-- BOOKS/templates/BOOKS/update_book.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edytuj Książkę</title>
</head>
<body>
    <h1>Edytuj Książkę</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.non_field_errors %}
            <div class="errors">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button type="submit">Zapisz zmiany</button>
    </form>
    <a href="{% url 'BOOKS:book_list' %}">Powrót do listy książek</a>
</body>
</html>